@model Gerenciador_de_Produtos.Models.Desenho

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Desenho</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!-- Novo campo Nome -->
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revisao" class="control-label"></label>
                <input asp-for="Revisao" class="form-control" />
                <span asp-validation-for="Revisao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Classificacao" class="control-label"></label>
                <input asp-for="Classificacao" class="form-control" />
                <span asp-validation-for="Classificacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoAlteracaoId" class="control-label"></label>
                <input asp-for="SolicitacaoAlteracaoId" class="form-control" />
                <span asp-validation-for="SolicitacaoAlteracaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}