@{
    ViewData["Title"] = "Importar Perfis";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="DownloadTemplate" class="btn btn-sm btn-outline-primary">
        Baixar modelo de CSV
    </a>
</p>

<form asp-action="Import" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="file">Arquivo CSV</label>
        <input type="file" name="file" id="file" class="form-control" accept=".csv" />
        @{
            var fileErrors = ViewData.ModelState["file"]?.Errors;
            if (fileErrors?.Count > 0)
            {
                <div class="text-danger">@fileErrors[0].ErrorMessage</div>
                ;
            }
        }
    </div>
    <button type="submit" class="btn btn-primary mt-2">Importar</button>
</form>
